<!--   Hero   -->
{{ partial:hero }}
<!-- End Hero -->




<!--   Our Philosophy   -->
<section class="bg-blue pb-15 pt-20 px-4 text-center text-white   sm:px-6   md:px-8   lg:pt-32 lg:px-10   xl:px-16   xxl:px-20">
   <h2 class="font-bold leading-tight max-w-xs mb-6 mx-auto text-2xl text-white   sm:text-3xl   md:font-medium md:max-w-md md:mb-8 md:px-16 md:text-4xl">{{ intro_headline }}</h2>
   <div class="max-w-sm mx-auto nested-mb-5">
      {{ intro_copy | markdown }}
   </div>
</section>
<!-- End Our Philosophy -->




<!--   Meet Dr. King   -->
<section class="mx-auto pb-20 px-4 relative text-center   sm:px-6   md:px-8   lg:px-10   xl:px-16   xxl:px-20">
   <div class="absolute bg-blue h-16 pin-l pin-r pin-t   md:h-20" style="z-index: -1"></div>

   {{ assets:meet_dr_king_photo }}
      <img class="h-32 mb-8 rounded-full w-32   md:h-40 md:mb-15 md:w-40" src="{{ url }}" alt="" />
   {{ /assets:meet_dr_king_photo }}
   <h2 class="font-bold leading-tight max-w-xs mb-6 mx-auto text-2xl   sm:text-3xl   md:font-medium md:max-w-md md:mb-8 md:px-16 md:text-4xl">{{ meet_dr_king_headline }}</h2>
   <div class="max-w-lg mb-15 mx-auto nested-mb-5 text-left   md:2-columns md:text-sm">
      {{ meet_dr_king_copy | markdown }}
   </div>


   <h3 class="mb-5 text-blue text-sm tracking-extra-wide uppercase">{{ meet_dr_king_name }}</h3>

   {{ meet_dr_king_additional_info }}
      <p {{ if first }}class="font-bold"{{ /if }}>{{ value }}</p>
   {{ /meet_dr_king_additional_info }}
</section>
<!-- End Meet Dr. King -->




<!--   Location   -->
{{ partial:location }}
<!-- End Location -->




<!--   Get in Touch   -->
{{ partial:get_in_touch }}
<!-- End Get in Touch -->




<!--   Instagram   -->
<style>
   .lightwidget-widget {
      margin-bottom: -10px
   }
</style>
{{ partial:instagram }}
<!-- End Instagram -->