<!--   Hero   -->
<section class="bg-center bg-cover flex items-center justify-center px-4 relative   sm:px-6   md:px-8   lg:h-200 lg:px-10   xl:px-16   xxl:px-20       h-200" style="background-image: url({{ assets:hero_background_image }}{{ url }}{{ /assets:hero_background_image }});min-height: 75vh">
   <div class="max-w-xs text-center">
      <h2 class="font-bold leading-extra-tight text-4xl text-white   lg:text-6xl">{{ hero_headline }}</h2>
   </div>

   <div class="absolute h-32 pin-b w-full   -mb-1   md:h-56">
      <div class="bg-bottom bg-no-repeat h-full w-full" style="background-image: url({{ theme:img/patterns src="bg_pattern--home_hero.svg" }});background-size: auto 100%"></div>
   </div>
</section>
<!-- End Hero -->




<!--   Conditions   -->
<section class="max-w-3xl -mb-4 mx-auto py-20 px-4 text-center   sm:-mb-6 sm:px-6   md:-mb-4 md:px-8   lg:-mb-6 lg:pb-30 lg:pt-12 lg:px-10   xl:px-16   xxl:-mb-8 xxl:px-20" id="conditions">
      <h2 class="font-bold leading-tight max-w-xs mx-auto mb-8 text-2xl text-blue-dark   sm:text-3xl   md:font-medium md:max-w-md md:mb-10 md:px-16 md:text-4xl   lg:mb-18">{{ conditions_headline }}</h2>

      <!--<div class="flex flex-wrap justify-between -mx-2   sm:-mx-3   md:-mx-2   lg:-mx-3   xxl:-mx-4">-->
      <div class="flex flex-wrap justify-between -mx-2   sm:-mx-3  md:justify-center md:-mx-2   lg:-mx-3   xxl:-mx-4">

         {{ conditions_list }}
         <!--   Condition Card Wrapper   -->
         <div class="mb-4 px-2 w-1/2   sm:mb-6 sm:px-3   md:mb-4 md:px-2 md:w-1/3   lg:mb-6 lg:px-3   xl:w-1/4   xxl:mb-8 xxl:px-4">
            <div class="condition_card--wrapper   show_modal_btn" role="button">
               <!--   Condition Card   -->
               <div class="condition_card" href="project-detail">
                  <!--   Photo   -->
                  <figure class="img istest   md:is3by4">
                     <img src="{{ assets:condition_photo }}{{ url }}{{ /assets:condition_photo }}">

                     <div class="absolute flex flex-col justify-center pin   md:justify-end">
                        <span class="font-bold leading-tight text-lg text-shadow-light text-white tracking-wide pt-1   md:mb-8   xl:text-2xl">{{ condition }}</span>
                     </div>
                  </figure>
               </div>
               <!-- End Condition Card -->
            </div>

            <div class="modal --hidden   fixed min-h-full pin w-full z-50">
               <!--   Overlay   -->
               <div class="absolute bg-white min-h-full w-full"></div>

               <div class="absolute h-full overflow-scroll w-full">
                  <div class="flex items-center justify-center min-h-full px-4   sm:px-6   md:px-8   lg:px-10   xl:px-16   xxl:px-20">

                     <div class="bg-blue-lighter max-w-lg mx-auto relative w-full   xl:flex xl:max-w-2xl   modal--inner">
                        <!--   Close Button   -->
                        <button class="absolute cursor h-4 mr-5 mt-5 pin-r pin-t text-blue-dark w-4 hover:opacity-50   md:mr-8 md:mt-8   hide_modal_btn">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"  class="stroke-current h-4 w-4" style="color: inherit">
                               <defs>
                                   <style>
                                       .x-stroke {
                                           stroke-linecap: round;
                                           stroke-linejoin: round;
                                           stroke-width: 4px
                                       }
                                   </style>
                               </defs>
                               <path class="x-stroke" d="M41 1L1 41"/>
                               <path class="x-stroke" d="M41 41L1 1"/>
                           </svg>
                        </button>
                        <!-- End Close Button -->

                        <div class="bg-center bg-cover hidden w-1/2   xl:block" style="background-image: url({{ assets:condition_photo }}{{ url }}{{ /assets:condition_photo }})"></div>
                        <div class="px-5 pb-16 pt-20   sm:px-8   md:px-12 md:py-35   xl:px-16 xl:w-1/2   xxl:px-28">
                           <div class="max-w-sm mx-auto">
                              <h3 class="mb-5 text-blue text-xs tracking-extra-wide uppercase   sm:text-sm">{{ condition }}</h3>

                              <h4 class="leading-tight mb-4 text-xl   md:text-2xl">{{ condition_headline }}</h4>
                              <p class="mb-8 text-sm   sm:text-base">{{ condition_description }}</p>

                              <h4 class="mb-5 text-blue text-xs tracking-extra-wide uppercase   sm:text-sm">{{ condition_list_heading }}</h4>
                              <ul class="flex flex-wrap max-w-xs -mb-2 mx-auto text-center list-reset">
                                 {{ condition_list }}
                                    <li class="leading-tight pb-2 text-sm w-full   md:w-1/2   xl:w-full   xxl:w-1/2">
                                       <span class="mr-1">•</span> {{ value }}
                                    </li>
                                 {{ /condition_list }}
                              </ul>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>

            </div>
         </div>
         <!-- End Condition Card Wrapper -->
         {{ /conditions_list }}

         <!--
         <div class="w-1/2   md:w-1/3   xl:w-1/4"></div>
         <div class="w-1/2   md:w-1/3   xl:w-1/4"></div>
         <div class="w-1/2   md:w-1/3   xl:w-1/4"></div>
         -->
   </div>

</section>
<!-- End Conditions -->




<!--   Process   -->
<section class="max-w-xl -mb-6 mx-auto pb-20 px-4 text-center   sm:-mb-8 sm:px-6   md:-mb-12 md:px-8   lb:pb-30 lg:px-10   xl:px-16   xxl:max-w-3xl xxl:px-20">
   <h2 class="font-bold leading-tight max-w-xs mb-6 mx-auto text-2xl text-blue-dark   sm:text-3xl   md:font-medium md:max-w-md md:px-16 md:text-4xl">{{ process_headline }}</h2>
   <p class="max-w-xs mb-8 mx-auto   md:mb-6">{{ process_copy }}</p>


   <h2 class="mb-5 text-blue text-sm tracking-extra-wide uppercase   md:mb-9">{{ process_video_heading }}</h2>
   <!--   Video Player   -->
   <div class="max-w-sm mb-8 mx-auto   md:mb-10" id="player" poster="{{ assets:process_video_cover }}{{ url }}{{ /assets:process_video_cover }}" data-plyr-provider="vimeo" data-plyr-embed-id="{{ process_video_embed_code }}"></div>
   <!-- End Video player -->

   <div class="flex flex-wrap justify-center   sm:-mx-3   md:justify-between md:-mx-6   lg:-mx-10   xxl:-mx-6">
      <!--   Process Steps   -->
      {{ process_steps }}
         <div class="mb-6   sm:mb-8 sm:px-3 sm:w-2/3   md:mb-12 md:px-6 md:w-1/2   lg:px-10   xxl:px-6 xxl:w-1/4">
            <h3 class="flex flex-col font-bold leading-tight mb-3 text-lg text-blue-dark tracking-wide   md:mb-5 md:text-xl   xl:text-2xl">
               <span class="font-bold pb-1 text-blue text-3xl   md:pb-2   xl:text-4xl   xxl:font-medium xxl:pb-3 xxl:text-5xl">{{ process_step_number }}</span>
               <span>{{ process_step_title }}</span>
            </h3>
            <p class="">{{ process_step_description }}</p>
         </div>
      {{ /process_steps }}
      <!-- End Process Steps -->

      <div class="w-1/2   md:w-1/3   xl:w-1/4"></div>
      <div class="w-1/2   md:w-1/3   xl:w-1/4"></div>
      <div class="w-1/2   md:w-1/3   xl:w-1/4"></div>
   </div>
</section>
<!-- End Process -->




<!--   Why Novo?   -->
<section class="bg-center bg-cover pb-25 pt-20 px-4 relative text-center text-white   sm:px-6   md:px-8   lg:pb-88 lg:pt-30 lg:px-10   xl:px-16   xxl:px-20" style="background-image: url({{ assets:why_novo_background_image }}{{ url }}{{ /assets:why_novo_background_image }})">
   <div class="max-w-sm mx-auto">
      <h2 class="font-bold leading-tight max-w-xs mx-auto mb-8 text-2xl text-shadow   sm:text-3xl   md:font-medium md:max-w-md md:mb-8 md:px-16 md:text-4xl">{{ why_novo_headline }}</h2>
      <h3 class="font-bold leading-tight mb-2 text-lg text-shadow   md:text-xl   xl:text-2xl">{{ why_novo_sub-headline }}</h3>
      <div class="nested-mb-5 text-shadow">
         {{ why_novo_copy | markdown }}
      </div>
   </div>

   <div class="absolute h-20 -mb-1 pin-b pin-l pin-r w-full   md:h-56">
      <div class="bg-bottom bg-no-repeat h-full w-full" style="background-image: url({{ theme:img src="patterns/bg_pattern--why_novo.svg" }});background-size: auto 100%"></div>
   </div>
</section>
<!-- End Why Novo? -->




<!--   Testimonials   -->
{{ partial:testimonials }}
<!-- End Testimonials -->




<!--   Get in Touch   -->
{{ partial:get_in_touch }}
<!-- End Get in Touch -->




<!--   Instagram   -->
<style>
   .lightwidget-widget {
      margin-bottom: -10px
   }
</style>
{{ partial:instagram }}
<!-- End Instagram -->